<h2>Crear lugares</h2>

<form action="/places/create" method="POST">

    <label for="">
        Name
        <input name="name" type="text">
    </label>

    <label for="">
        Type
        <select name="type" >
        <option value="coffee shop">Coffee Shop</option>
        <option value="bookstore">BookStore</option>

        </select>
    </label>

    <button type="submit">Create place</button>
</form>

<br>
<a href="/">Volver al índice</a>